@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

@font-face {
  font-family: "rounded";
  src: url("/assets/fonts/ARLRDBD.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.cards {
  align-items: center;
  justify-content: space-between;
  text-align: center;
  display: flex;
  border: 1px solid #333;
}

.col_white_amrc {
  color: #ccc;
}
footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 50px 0px 25px 0px;
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc !important;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.headin5_amrc::after {
  content: "";
  background: #fd5911;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 50px;
  left: 10px;
}
.headin5_amrc_1::after {
  content: "";
  background: #fd5911;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 192px;
  left: 10px;
}

.footer-bottom {
  text-align: center;
  align-content: center;
}
