<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
<!--   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/mobile.css">
  <link rel="stylesheet" href="assets/css/bottom-menubar.css">
  <link rel="stylesheet" href="assets/css/sidebar-mainpage.css">
</head>

<body>

  <!-- =============================== -->
  <section class="nav-top">
    <div class="logo">
      <img src="assets/img/bana1.png" alt="" width="50" height="40" style="padding-left:10px;">
    </div>
    <div class="search-bar">
      <input class = "search-txt" type="text " placeholder="Search...">
      <a href="" class = "search-btn">   <i class="lni lni-search"></i>
      </a>
       </div>
    <div class="message"> <i class="lni lni-menu header__toggle" id="header-toggle-left"></i></div>
  </section>
<!-- ========================================= -->

  
          <!-- <nav class="nav-left" id="nav-menu-left">
        
        <div class = "nav-left-cont">
        
          <a href="#"> 
            <div class = "nav-left-profile">
              <div class = "nav-left-profile-img">
                  <img src = "assets/img/profile.png" alt ="image" class = "nav-left-profile-img">
              </div>
              <div class = "nav-left-profile-text">
                  <p>Name Last-name</p>
                   <i class = "material-icons">west</i>
              </div>
            </div>
          </a>
          
           <div class = "nav-left-links">
              <div class = "nav-left-links-info">
                  <p>Details</p>
                <div class = "icons">
                 <i class = "material-icons nav--icon">add_circle_outline</i>
                 <i class = "material-icons nav--icon">expand_more</i>
                 </div>
              </div>
          </div>
          <hr>
           <div class = "nav-left-links">
              <div class = "nav-left-links-info">
                <p>Gallery</p>
                <div class = "icons">
                 <i class = "material-icons nav--icon">add_circle_outline</i>
                 <i class = "material-icons nav--icon">expand_more</i>
                 </div>
              </div>
          </div>
          <hr>
           <div class = "nav-left-links">
              <div class = "nav-left-links-info">
                <p>Activities</p>
                <div class = "icons">
                 <i class = "material-icons nav--icon">add_circle_outline</i>
                 <i class = "material-icons nav--icon">expand_more</i>
                 </div>
              </div>
          </div>
          <hr>
           <div class = "nav-left-links">
              <div class = "nav-left-links-info">
                <p>Facilities</p>
                 <div class = "icons">
                 <i class = "material-icons nav--icon">add_circle_outline</i>
                 <i class = "material-icons nav--icon">expand_more</i>
                 </div>
              </div>
          </div>
          <hr>
           <div class = "nav-left-links">
              <div class = "nav-left-links-info">
                <p>Sponsored user</p>
                <div class = "icons">
                 <i class = "material-icons nav--icon">add_circle_outline</i>
                 <i class = "material-icons nav--icon">expand_more</i>
                 </div>
              </div>
          </div>
          <hr>
           <div class = "nav-left-links">
              <div class = "nav-left-links-info">
                <p>Logout</p>
                <div class = "icons">
                
                 <i class = "material-icons nav--icon">login</i>
                 </div>
              </div>
          </div>
          <hr>
        </div>
      </nav>    -->
     
<!-- =============================================== -->
<div class="remover">
  <section class="live">
    <div class="person">
      <div class="profile-pic"><img src="assets/img/s-1.jpg" alt=""></div>
      <p class="name">Neo Morari</p>
    </div>

    <div class="person">
      <div class="profile-pic"><img src="assets/img/sci-loa.jpg" alt=""></div>
      <p class="name">Sci-bono</p>
    </div>

    <div class="person">
      <div class="profile-pic"><img src="assets/img/voda-logo.png" alt=""></div>
      <p class="name">Vodacom</p>
    </div>

    <div class="person">
      <div class="profile-pic"><img src="assets/img/sch-1.png" alt=""></div>
      <p class="name">St John College</p>
    </div>

    <div class="person">
      <div class="profile-pic"><img src="assets/img/s-2.jpg" alt=""></div>
      <p class="name">Peter Cole</p>
    </div>


    <div class="person">
      <div class="profile-pic"><img src="assets/img/sch-2.jpg" alt=""></div>
      <p class="name">Lenasia Secondary School</p>
    </div>

    <div class="person">
      <div class="profile-pic"><img src="assets/img/absa.png" alt=""></div>
      <p class="name">ABSA</p>
    </div>

    <div class="person">
      <div class="profile-pic"><img src="assets/img/bana1.png" alt=""></div>
      <p class="name">bana vision</p>
    </div>

  </section>
  </div>

<!-- ================================ -->
<section class="_feed">
  <div class="_mcard">
    <!-- <div class="_picture"></div> -->
    <div class="_cont">
      <div class="_header">
        <div class="_profile_pic"><img src="assets/img/s-1.jpg" alt=""></div>
        <div class="_details">
          <p class="name">Neo Morari</p>
          <p class="posted">13 hours ago</p>
        </div>
      </div>
      <div class="_description">I scored  an average of 83% on my Grade 12 exams an looking for a bursary</div>
      <div class="_tags">
        <span>#Grade12</span>
      </div>
      <div class="_footer">
        <div class="like"><i class="lni lni-heart"></i><span>17</span></div>
        <div class="comment"><i class="lni lni-comments"></i><span>2</span></div>
        <div class="share"><i class="lni lni-share"></i><span></span></div>
      </div>
    </div>
  </div> 

    <div class="_mcard">
      <div class="_picture"><img src="assets/img/v-elrn.jpg" alt=""></div>
      <div class="_cont">
        <div class="_header">
          <div class="_profile_pic"><img src="assets/img/voda-logo.png" alt=""></div>
          <div class="_details">
            <p class="name">Vodacom</p>
            <p class="posted">3 hours ago</p>
          </div>
        </div>
        <div class="_description">Switch to Vodacom and stream classes from Grade R - 12 for free thru bana and stand a chance to win a free table</div>
        <div class="_tags">
          <span>#E-learning</span>
          <span>#Vodacom</span>
        </div>
        <div class="_footer">
          <div class="like"><i class="lni lni-heart"></i><span>11k</span></div>
          <div class="comment"><i class="lni lni-comments"></i><span>234</span></div>
          <div class="share"><i class="lni lni-share"></i><span>2</span></div>
        </div>
      </div>
    </div> 
    <div class="_mcard">
      <div class="_picture"><img src="assets/img/unnamed.png" alt=""></div>
      <div class="_cont">
        <div class="_header">
          <div class="_profile_pic"><img src="assets/img/absa.png" alt=""></div>
          <div class="_details">
            <p class="name">ABSA</p>
            <p class="posted">8 hours ago</p>
          </div>
        </div>
        <div class="_description">Congradulation to Nokwazi Mbele for recieving a Top student bursary,Learner from Soweto Secondary that will be studying Bcom Econometrics at University of Pretoria.</div>
        <div class="_tags">
          <span>#Bursary</span>
          <span>#Math</span>
          <span>#Science</span>
        </div>
        <div class="_footer">
          <div class="like"><i class="lni lni-heart"></i><span>121k</span></div>
          <div class="comment"><i class="lni lni-comments"></i><span>2374</span></div>
          <div class="share"><i class="lni lni-share"></i><span>45</span></div>
        </div>
      </div>
    </div> 

    <div class="_mcard">
      <div class="_picture"><img src="assets/img/sci-bono-logo.png" alt=""></div>
      <div class="_cont">
        <div class="_header">
          <div class="_profile_pic"><img src="assets/img/sci-loa.jpg" alt=""></div>
          <div class="_details">
            <p class="name">Sci-bono</p>
            <p class="posted">8 hours ago</p>
          </div>
        </div>
        <div class="_description">Get the best Science start from Grade R - 12, We aim to improve the national scores on both Maths and Science.</div>
        <div class="_tags">
          <span>#E-learning</span>
          <span> #Math</span>
          <span> #Science</span>
        </div>
        <div class="_footer">
          <div class="like"><i class="lni lni-heart"></i><span>121k</span></div>
          <div class="comment"><i class="lni lni-comments"></i><span>2374</span></div>
          <div class="share"><i class="lni lni-share"></i><span>45</span></div>
        </div>
      </div>
    </div> 

</section>
  <!-- ==================== -->
  <nav class="nav-bottom">
    <a href="#" class="nav--link nav--link-active">
      <i class = "material-icons nav--icon">home</i>
      <span class="nav--text">Main</span>
    </a>

    <a href="#" class="nav--link">
       <i class = "material-icons nav--icon">person</i>
      <span class="nav--text">Profile</span>
    </a>

    <a href="#" class="nav--link">
      <i class = "material-icons nav--icon">add_circle_outline</i>
      <span class="nav--text">Post</span>
    </a>

    <a href="#" class="nav--link">
     <i class = "material-icons nav--icon">mail_outline</i>
      <span class="nav--text">Chats</span>
    </a>

    <a href="#" class="nav--link">
     <i class = "material-icons nav--icon">settings</i>
      <span class="nav--text">E-Learn</span>
    </a>

  </nav>
  <script src="assets/js/mobile.js"></script>
  <script src="assets/js/sidemenubar.js"></script>
</body>

</html> 
